@import url('https://fonts.googleapis.com/css?family=Mukta');

:root{}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  myImage {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .file .account-imageInput {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
  }

  .tools{
    display: flex;
    justify-content: center;
    flex-direction: row;

  }

  .tools .color-field{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer; 
    display: inline-block;
    cursor: pointer; 
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
  }


  div.fixed {
    position: fixed;
    bottom: 110;
    right: 500;
    width: 300px;
    border: 3px solid #73AD21;
  }


  .button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer; 
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 15px;
  } 

  #canvas{
    position: absolute;
    left: 200px;
    border: 1px solid black;
    cursor: pointer;
  }


  #canvas2{
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 10%;
  }



  .pen-range{
    position: absolute;
    left: 70%;
    top: 40%;
    /* align-self: center; */
    margin: 0 15px;
  } 


  .stroke-color {
    border-radius: 1%;
    width: 30px;
    height: 30px;
  }


 .field{ 
  width: 100%;
}